@font-face {
  font-family: black;
  src: url("../fonts/Montserrat-Black.woff") format(woff), url("../fonts/Montserrat-Black.woff2") format(woff2);
  font-weight: 900;
}
@font-face {
  font-family: extrabold;
  src: url("../fonts/Montserrat-ExtraBold.woff") format(woff), url("../fonts/Montserrat-ExtraBold.woff2") format(woff2);
  font-weight: 800;
}
@font-face {
  font-family: bold;
  src: url("../fonts/Montserrat-Bold.woff") format(woff), url("../fonts/Montserrat-Bold.woff2") format(woff2);
  font-weight: 700;
}
@font-face {
  font-family: semibold;
  src: url("../fonts/Montserrat-SemiBold.woff") format(woff), url("../fonts/Montserrat-SemiBold.woff2") format(woff2);
  font-weight: 600;
}
@font-face {
  font-family: medium;
  src: url("../fonts/Montserrat-Medium.woff") format(woff), url("../fonts/Montserrat-Medium.woff2") format(woff2);
  font-weight: 500;
}
@font-face {
  font-family: regular;
  src: url("../fonts/Montserrat-Regular.woff") format(woff), url("../fonts/Montserrat-Regular.woff2") format(woff2);
  font-weight: 400;
}
@font-face {
  font-family: light;
  src: url("../fonts/Montserrat-Light.woff") format(woff), url("../fonts/Montserrat-Light.woff2") format(woff2);
  font-weight: 300;
}
@font-face {
  font-family: extralight;
  src: url("../fonts/Montserrat-ExtraLight.woff") format(woff), url("../fonts/Montserrat-ExtraLight.woff2") format(woff2);
  font-weight: 200;
}
@font-face {
  font-family: thin;
  src: url("../fonts/Montserrat-Thin.woff") format(woff), url("../fonts/Montserrat-Thin.woff2") format(woff2);
  font-weight: 100;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: regular;
  background-color: #302C42;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.contenier {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  padding: 16px 42px;
  border-radius: 40px;
  border: 2px solid transparent;
  background-image: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  color: #302C42;
  font-family: bold;
  font-size: 12px;
  position: relative;
}

.header__wrapper {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}

.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 11px;
}

.header__logo {
  width: 69px;
  height: 58px;
}

.header__pic {
  width: 46px;
  height: 28px;
}

.header__info {
  position: relative;
}

.header__menu {
  display: none;
}

.headeer__list:hover .header__menu {
  display: block;
  position: absolute;
  top: 10px;
}

.dive__wrapper {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 39px;
  flex-direction: column;
}

.dive__box {
  position: relative;
}

.dive__shadow {
  width: 340px;
  height: 296px;
}

.dive__img {
  width: 318px;
  height: 277px;
  position: absolute;
  top: 9px;
  left: 9px;
}

.dive__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  flex-direction: column;
}

.lavender {
  color: #C0B7E8;
  font-size: 40px;
}

.dive__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

.us__wrapper {
  margin: 30px 0;
  padding: 21px 66px;
  background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211e2e 100%);
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 75px;
  overflow: scroll;
  scrollbar-width: none;
}

.us__set {
  min-width: -moz-max-content;
  min-width: max-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 9px;
}

.us__text {
  max-width: 245px;
}

.vr__wrapper {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  flex-direction: column;
}

.vr__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
}

.vr__title {
  font-size: 26px;
  font-weight: 700;
}

.vr__minititle {
  font-size: 26px;
  font-weight: 300;
}

.vr__img {
  max-width: 440px;
}

.vr__text {
  font-size: 12px;
  font-weight: 400;
  min-width: 440px;
  line-height: 20px;
}

.build__wrapper {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
  flex-direction: column;
}

.build__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
}

.build__title {
  font-size: 26px;
  font-weight: 700;
}

.build__minititle {
  font-size: 26px;
  font-weight: 300;
}

.build__menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  overflow: scroll;
  max-width: 440px;
  scrollbar-width: none;
}

.build__item {
  min-width: 440px;
  border-radius: 70px;
  padding: 41px 36px;
  background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  flex-direction: column;
}

.build__img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 14px solid rgba(14, 14, 14, 0.3215686275);
}

.build__hr {
  min-width: 154px;
  background-color: rgba(192, 183, 232, 0.3294117647);
  height: 1px;
}

.build__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  max-width: 320px;
}

.tec__wrapper {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: column;
}

.tec__info {
  padding: 51px 32px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  flex-direction: column;
}

.tec__title {
  font-size: 1rem;
  font-weight: 700;
}

.tec__minititle {
  font-size: 24px;
  font-weight: 300;
}

.tec__box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  max-width: 440px;
  overflow: scroll;
  scrollbar-width: none;
}

.adj__wrapper {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 37px;
  flex-direction: column;
}

.adj__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
}

.adj__title {
  font-size: 26px;
  font-weight: 700;
}

.adj__minititle {
  font-size: 26px;
  font-weight: 300;
}

.adj__menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  max-width: 400px;
  overflow: scroll;
  scrollbar-width: none;
}

.adj__item {
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
}

.adj__number {
  padding: 45px;
  background-color: #C0B7E8;
  border-radius: 50%;
  border: 19px solid rgba(13, 13, 13, 0.3215686275);
  font-size: 64px;
  font-weight: 700;
  color: #343045;
}

.adj__i-title {
  max-width: 187px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.join__wrapper {
  margin: 30px 0;
  padding: 45px 25px;
  background: radial-gradient(50% 50% at 50% 50%, #403a5f 0%, #211e2e 100%);
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  flex-direction: column;
}

.join__title {
  font-size: 24px;
  font-weight: 700;
}

.join__hr {
  min-width: 116px;
  height: 1px;
  background-color: #8176AF;
  margin: -15px 0 -17px;
}

.join__minititle {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  border-left-width: 20px;
}

.join__info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  flex-direction: column;
}

.join__border {
  width: 100%;
  padding: 20px 25px;
  border: 2px solid white;
  border-radius: 45px;
}

.join__label {
  font-size: 14px;
  font-weight: 400;
}

.bigger__border {
  min-height: 200px;
}

.footer__wrapper {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 38px;
  flex-direction: column;
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
  flex-direction: column;
}

.footer__logo {
  width: 185px;
  height: 187px;
}

.footer__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  flex-direction: column;
}

.footer__title {
  font-size: 1rem;
  font-weight: 700;
}

.footer__sites {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer__hr {
  min-width: 289px;
  background-color: #C0B7E8;
  height: 1px;
}

.footer__text {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */