@font-face {
  font-family: black;
  src: url("../fonts/Montserrat-Black.woff") format(woff), 
  url("../fonts/Montserrat-Black.woff2") format(woff2);
  font-weight: 900;
}

@font-face {
  font-family: extrabold;
  src: url("../fonts/Montserrat-ExtraBold.woff") format(woff), 
  url("../fonts/Montserrat-ExtraBold.woff2") format(woff2);
  font-weight: 800;
}

@font-face {
  font-family: bold;
  src: url("../fonts/Montserrat-Bold.woff") format(woff), 
  url("../fonts/Montserrat-Bold.woff2") format(woff2);
  font-weight: 700;
}

@font-face {
  font-family: semibold;
  src: url("../fonts/Montserrat-SemiBold.woff") format(woff), 
  url("../fonts/Montserrat-SemiBold.woff2") format(woff2);
  font-weight: 600;
}

@font-face {
  font-family: medium;
  src: url("../fonts/Montserrat-Medium.woff") format(woff), 
  url("../fonts/Montserrat-Medium.woff2") format(woff2);
  font-weight: 500;
}

@font-face {
  font-family: regular;
  src: url("../fonts/Montserrat-Regular.woff") format(woff), 
  url("../fonts/Montserrat-Regular.woff2") format(woff2);
  font-weight: 400;
}

@font-face {
  font-family: light;
  src: url("../fonts/Montserrat-Light.woff") format(woff), 
  url("../fonts/Montserrat-Light.woff2") format(woff2);
  font-weight: 300;
}

@font-face {
  font-family: extralight;
  src: url("../fonts/Montserrat-ExtraLight.woff") format(woff), 
  url("../fonts/Montserrat-ExtraLight.woff2") format(woff2);
  font-weight: 200;
}

@font-face {
  font-family: thin;
  src: url("../fonts/Montserrat-Thin.woff") format(woff), 
  url("../fonts/Montserrat-Thin.woff2") format(woff2);
  font-weight: 100;
}
