* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
}

body {
  font-family: regular;
  background-color: $bg-color;
  color: $main-color;
}

html {
  scroll-behavior: smooth;
}

.contenier {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  @include btn;
}
