.adj__wrapper {
  padding: 30px 0;
  @include d-flex(center, 37px);
  flex-direction: column;
}

.adj__info {
  @include d-flex(center, 16px);
  flex-direction: column;
}

.adj__title {
  font-size: 26px;
  font-weight: 700;
}

.adj__minititle {
  font-size: 26px;
  font-weight: 300;
}

.adj__menu {
  @include d-flex(flex-start, 50px);
  max-width: 400px;
  overflow: scroll;
  scrollbar-width: none;
}

.adj__item {
  min-width: 400px;
  @include d-flex(center, 30px);
  flex-direction: column;
}

.adj__number {
  padding: 45px;
  background-color: $light-color;
  border-radius: 50%;
  border: 19px solid #0d0d0d52;
  font-size: 64px;
  font-weight: 700;
  color: #343045;
}

.adj__i-title {
  max-width: 187px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
