.build__wrapper {
  padding: 30px 0;
  @include d-flex(center, 26px);
  flex-direction: column;
}

.build__info {
  @include d-flex(center, 16px);
  flex-direction: column;
}

.build__title {
  font-size: 26px;
  font-weight: 700;
}

.build__minititle {
  font-size: 26px;
  font-weight: 300;
}

.build__menu {
  @include d-flex(flex-start, 30px);
  overflow: scroll;
  max-width: 440px;
  scrollbar-width: none;
}

.build__item {
  min-width: 440px;
  border-radius: 70px;
  padding: 41px 36px;
  background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
  @include d-flex(center, 34px);
  flex-direction: column;
}

.build__img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 14px solid #0E0E0E52;
}

.build__hr {
  min-width: 154px;
  background-color: #c0b7e854;
  height: 1px;
}

.build__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  max-width: 320px;
}
