.dive__wrapper {
  padding: 30px 0;
  @include d-flex(center, 39px);
  flex-direction: column;
}

.dive__box {
  position: relative;
}

.dive__shadow {
  width: 340px;
  height: 296px;
}

.dive__img {
  width: 318px;
  height: 277px;
  position: absolute;
  top: 9px;
  left: 9px;
}

.dive__info {
  @include d-flex(center, 36px);
  flex-direction: column;
}

.lavender {
  color: $light-color;
  font-size: 40px;
}

.dive__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}
