.footer__wrapper {
    padding: 30px 0;
    @include d-flex(center, 38px);
    flex-direction: column;
}

.footer__info {
    @include d-flex(center, 56px);
    flex-direction: column;
}

.footer__logo {
    width: 185px;
    height: 187px;
}

.footer__box {
    @include d-flex(center, 35px);
    flex-direction: column;
}

.footer__title {
    font-size: 1rem;
    font-weight: 700;
}

.footer__sites {
    @include d-flex(center, 20px);
}

.footer__hr {
    min-width: 289px;
    background-color: $light-color;
    height: 1px;
}

.footer__text {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}