.header__wrapper {
  padding: 20px 0;
  @include d-flex(space-between);
}

.header__box {
  @include d-flex(space-between, 11px);
}

.header__logo {
  width: 69px;
  height: 58px;
}

.header__pic {
  width: 46px;
  height: 28px;
} 

.header__info {
  position: relative;
}

.header__menu {
  display: none;
}

.headeer__list:hover .header__menu {
  display: block;
  position: absolute;
  top: 10px;

}
