.us__wrapper {
  margin: 30px 0;
  padding: 21px 66px;
  background: radial-gradient(
    50% 2900.76% at 50% 53.89%,
    rgba(58, 52, 86, 0.95) 0%,
    #211e2e 100%
  );
  border-radius: 90px;
  @include d-flex(flex-start, 75px);
  overflow: scroll;
  scrollbar-width: none;
}

.us__set {
    min-width: max-content;
    @include d-flex(flex-start, 9px);
}

.us__text {
    max-width: 245px;
}
