.vr__wrapper {
  padding: 30px 0;
  @include d-flex(center, 36px);
  flex-direction: column;
}

.vr__info {
  @include d-flex(center, 16px);
  flex-direction: column;
}

.vr__title {
  font-size: 26px;
  font-weight: 700;
}

.vr__minititle {
  font-size: 26px;
  font-weight: 300;
}

.vr__img {
  max-width: 440px;
}

.vr__text {
  font-size: 12px;
  font-weight: 400;
  min-width: 440px;
  line-height: 20px;
}
